<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>welcome</h1>
<button type="button" onclick="login()">Authorization</button>


<script>
    function login() {
        fetch(`http://localhost:8080/login`, {
            method: 'get',
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => {
                if (response.ok) {
                    location.reload()
                } else {
                    alert('Ошибка при удалении пользователя');
                }
            });
    }
</script>
</body>
</html>