<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
<div>
    <button type="button" onclick="logout()">logout</button>
</div>
<div>
    <th:block th:each="user : ${users}">
        <h1>


            <span type="text" placeholder="id" th:value="${user.id}" required></span>
            <input type="text" th:id="'name' + ${user.id}" placeholder="name" th:value="${user.username}" required>
            <input type="text" th:id="'lastName' + ${user.id}" placeholder="lastName" th:value="${user.lastName}" required>
            <input type="text" th:id="'email' + ${user.id}" placeholder="email" th:value="${user.email}" required>
            <input type="text" th:id="'password' + ${user.id}" placeholder="lastName" th:value="${user.password}" required>
            <select multiple th:id="'roles' + ${user.id}">
                <option th:each="role : ${user.roles}"
                        th:text="${role.role}"
                        th:value="${role.id}"></option>
            </select>
        </h1>
    </th:block>
</div>

<script>
    function logout() {
        fetch(`http://localhost:8080/logout`, {
            method: 'get',
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => {
                if (response.ok) {
                    location.reload()
                } else {
                    alert('Ошибка при удалении пользователя');
                }
            });
    }
</script>
</body>
</html>